/* overriding existing elements */
/**/
.rooms-list {
  border-top: 1px solid var(--gless-color-border);
  padding-top: 16px;
}

/*sidebar-header*/
.sidebar__header {
  padding: 0;
  margin: 0;
}
.sidebar__toolbar {
  justify-content: flex-end;
  padding: 0;
  flex: 0;
}
.sidebar__toolbar-button {
  margin-left: 12px;
  color: var(--gless-color-icon);
}

/*popover*/
.rc-popover__title {
  text-transform: none;
}
.rc-popover__item-text {
  color: var(--gless-color-text);
}
.rc-popover__icon {
  color: var(--gless-color-icon);
}

/* new elements */
/**/
.gless-sidebar-header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}
.gless-sidebar-logo {
  flex: 1;
}