/* overriding existing elements */
/**/

body {
  -webkit-font-smoothing: initial;
}

:root {
  --gless-background: #FFF;
  --gless-background-2: #F2F2F2;  
  
  --gless-color-text: #222; 
  --gless-color-primary: #4C5B66;   
  --gless-color-accent: #F9B233;   
  --gless-color-primary-disabled: rgba(224, 83, 41, 0.6);   
  --gless-color-primary-darken-4: #d6491f;  
  --gless-color-primary-darken-8: #c4431c;    
  --gless-color-primary-lighten-35: #f7d0c5;
  --gless-color-primary-lighten-44: #fcf1ed;
  --gless-color-primary-lighten-47: #fefbfa;
  --gless-color-black: #000000;  
  --gless-color-grey0: #4C4C4C;
  --gless-color-grey1: #BABABA;
  --gless-color-grey2: #E2E2E2;
  --gless-color-grey3: #F2F2F2;
  --gless-color-grey4: #CCCCCC;  
  --gless-color-white: #FFFFFF;
  --gless-color-green: #7CC163;
  --gless-color-blue: #4138d6;

  --gless-color-input-border: var(--gless-color-grey2);
  --gless-color-input-autofill: var(--gless-color-grey2);
  --gless-color-border: var(--gless-color-grey2);
  --gless-color-border-2: var(--gless-color-grey2);
  --gless-color-border-3: var(--gless-color-grey3);
  --gless-color-border-4: var(--gless-color-white);
  --gless-color-divider: var(--gless-color-grey3);
  --gless-color-divider-text: var(--gless-color-grey1);
  --gless-color-placeholder: var(--gless-color-grey1);
  
  --gless-color-icon: var(--gless-color-grey1);
  --gless-color-icon-navigation: var(--gless-color-grey0);
  --gless-color-icon-inactive: var(--gless-color-grey2);
  --gless-color-icon-list: var(--gless-color-grey0);

  --gless-color-list-item-background: var(--gless-color-grey3);
  --color-blue:var(--gless-color-accent);
}

/* login page */
.full-page {
  background-color: var(--gless-background);
}
.full-page.logo {
  max-width: 260px;
}

.rc-old #login-card {
  max-width: 400px;
  margin-top: 32px;  
}

.rc-icon {
  fill: var(--gless-color-icon);
}
/* room */
.rooms-list {
  border-top: 1px solid var(--gless-color-border);
  padding-top: 16px;
}

.rooms-list__empty-room {
  color: var(--gless-color-grey1);
}
.rooms-list__toolbar-search {
  left:0;
  width: 100% !important;
  top: 60px!important;
}

.rc-room-actions__action, 
.rc-room-actions__more-action {
  color: var(--gless-color-icon);
}

.rc-table-icon,
.rc-table-title {
  color: var(--gless-color-black);
}

.rc-table tbody tr:not(.table-no-click):not(.table-no-pointer):hover {
  background-color: var(--gless-color-grey2)!important;
}

.sidebar__header {
  height: 59px;
}

.sidebar-item__name {
  color: var(--gless-color-black);
}

.rc-header--room {
  height: 60px;
}

.sidebar__toolbar {
  margin-left: 4px;
}


.toolbar .rc-input__wrapper {
  color: var(--gless-color-icon);
}

/*popover*/
.rc-popover__title {
  text-transform: none;
}
.rc-popover__item{
  color: var(--gless-color-icon);
}
.rc-popover__icon {
  color: var(--gless-color-icon);
}
.rc-popover__item{
  color: #5d5d5d;
}
.rc-popover__item:hover{
  color: var(--gless-color-accent);
}
/* message */
.message.new-day::before {
  background-color: #fff !important;
  color: var(--gless-color-grey1);
}


/* message links, at file download */
/* .message a,
.attachment-download-icon,
.collapse-switch
 {
  color: var(--gless-color-primary)!important;
} */

.background-info-font-color {
  background-color: var(--gless-color-grey2)!important;
}

.background-info-font-color {
  background-color: var(--gless-color-grey1);
}
.rc-header--room {
  box-shadow: none;
  border-bottom: 1px solid var(--gless-color-border);
  padding: 9px 24px;
}
/* new elements */
/**/
.gless-sidebar-header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  height: 56px;
}
.gless-sidebar-logo {
  flex: 1;
}

/* chat detail */
.rc-message-box {
  border-top: 1px solid var(--gless-color-border);
}

/* button */
.button,
.rc-button {
  /*height: 34px;*/
  min-width: 100px;
  width: auto;
}

/* online status */
.popup-user-status-online {
  background: var(--gless-color-green)!important;
  border-color: var(--gless-color-green)!important;
}

/* busy status */
.popup-user-status-busy {
  background: var(--gless-color-primary-darken-8)!important;
  border-color: var(--gless-color-primary-darken-8)!important;
}

/* away status */
.popup-user-status-away {
  background: var(--gless-color-primary-lighten-35)!important;
  border-color: var(--gless-color-primary-lighten-35)!important;
}

/* offline status */
.popup-user-status-offline {
  background: var(---status-invisible)!important;
  border-color: var(--status-invisible)!important;
}

/* textarea */

/* increase padding-top to center text at send-message field */
.rc-message-box__textarea {
  padding-top: 2px;
}

/* rooms list type */

.rooms-list__type-text {
  font-weight: normal;
}
