/* @import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap'); */

@font-face {
  font-family: 'SurtRegular';
  src: url('fonts/Regular/Surt-Regular.eot') format('embedded-opentype'), url('fonts/Regular/Surt-Regular.woff2') format('woff2'),
    url('fonts/Regular/Surt-Regular.woff') format('woff');
}
 
@font-face {
  font-family: 'SurtRegularOblique';
  src: url('fonts/RegularOblique/Surt-RegularOblique.woff2') format('woff2'),
    url('fonts/RegularOblique/Surt-RegularOblique.woff') format('woff');
}

@font-face {
  font-family: 'SurtMedium';
  src: url('fonts/Medium/Surt-Medium.woff2') format('woff2'),
    url('fonts/Medium/Surt-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SurtBold';
  src: url('fonts/Bold/Surt-Bold.woff2') format('woff2'),
    url('fonts/Bold/Surt-Bold.woff') format('woff');
}

html, body {
  font-family: 'SurtRegular' !important;   
  /* font-family: 'Mansalva', cursive; */
}