:root {
  --gless-background: #FFF;
  --gless-background-2: #F2F2F2;  
  
  --gless-color-text: #000; 
  --gless-color-primary: #E05329;   
  --gless-color-primary-darken-4: #d6491f;  
  --gless-color-primary-darken-8: #c4431c;    
  --gless-color-primary-lighten-35: #f7d0c5;
  --gless-color-primary-lighten-44: #fcf1ed;
  --gless-color-primary-lighten-47: #fefbfa;
  --gless-color-black: #000000;  
  --gless-color-grey0: #4C4C4C;
  --gless-color-grey1: #BABABA;
  --gless-color-grey2: #E2E2E2;
  --gless-color-grey3: #F2F2F2;
  --gless-color-grey4: #CCCCCC;  
  --gless-color-white: #FFFFFF;
  --gless-color-green: #7CC163;
  --gless-color-blue: #4138d6;

  --gless-color-input-border: var(--gless-color-grey2);
  --gless-color-input-autofill: var(--gless-color-grey2);
  --gless-color-border: var(--gless-color-grey2);
  --gless-color-border-2: var(--gless-color-grey2);
  --gless-color-border-3: var(--gless-color-grey3);
  --gless-color-border-4: var(--gless-color-white);
  --gless-color-divider: var(--gless-color-grey3);
  --gless-color-divider-text: var(--gless-color-grey1);
  
  --gless-color-icon: var(--gless-color-grey1);
  --gless-color-icon-navigation: var(--gless-color-grey0);
  --gless-color-icon-inactive: var(--gless-color-grey2);
  --gless-color-icon-list: var(--gless-color-grey0);

  --gless-color-list-item-background: var(--gless-color-grey2);
}